
.jumbotron{
  background-image:linear-gradient(#ffff4d ,transparent 90%),
  url("../img/background.jpg");
  background-size:contain;
  text-align: center;
  color: black;
  font-family: Impact;
  text-shadow: 1px 1px 0 white;
}
.jumbotron h1{
  font-size: 150px;

}
p{
color: black;
font-size: 20px;
background: lightgreen;
text-align: center;
margin-top: -40px;
}
.container h2{
color: white;

}

body{
  background: black;
}

img{
  border: 2px solid black;
}


#bear1{
  position: fixed;
  margin-top: 100px;
  margin-left: 500px;
  display: none;
}
#duck1{
  position: fixed;
  margin-top: 100px;
  margin-left: 610px;
  display: none;
}
#bear2{
  position: fixed;
  margin-top: 215px;
  margin-left: 610px;
  display: none;
}
#duck2{
  position: fixed;
  margin-top: 215px;
  margin-left: 500px;
  display: none;
}
#back1{
  position: fixed;
  margin-top: 100px;
  margin-left: 500px;
}
#back2{
  position: fixed;
  margin-top: 100px;
  margin-left: 610px;
}
#back3{
  position: fixed;
  margin-top: 215px;
  margin-left: 610px;
}
#back4{
  position: fixed;
  margin-top: 215px;
  margin-left: 500px;
}
